body {
    background-color: lightseagreen;
}

.form-box {
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.form-box h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: blue;
}

.form-box h1 span {
    font-weight: lighter;
}

#errors {
    font-weight: bold;
    font-size: 20px;
    color: red;
}
